/* Layout */
.container {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

/* Buttons */
.button-bar {
  margin-bottom: 1.5rem;
}

.sim-btn {
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.start-loaded{
  background-color: #4CAF50;
  color: white;
  border: none;
}

.save{
  background-color: #4CAF50;
  color: white;
  border: none;
}

.load{
  background-color: #ff9800;
  color: white;
  border: none;
}

.file-row {
  display: flex;
  align-items: center;             
}

.start {
  background-color: #4CAF50;
  color: white;
  border: none;
}

.stop {
  background-color: #f44336;
  color: white;
  border: none;
}

.pause {
  background-color: #ff9800;
  color: white;
  border: none;
}

/* Table */
.node-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid white;        /* Outer border */
}

.node-table th,
.node-table td {
  padding: 0.75rem;
  border: 1px solid white;        /* Column separators + row separators */
}

.node-table th {
  background: black;
  color: white;
  text-align: left;
}


/* Sliders */
.slider {
  width: 100%;
}

/* Trash Button */
.trash-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #444;
  padding: 4px;
}

.trash-btn:hover {
  color: #c00;
}

/* Add Node Row */
.add-row td {
  padding: 0.75rem;
}

.add-node-btn {
  background:cornflowerblue ;
  opacity: 0.9;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  width: 120px;
}

/* Layout for table and external controls */
.add-node-container {
  margin-top: 0.75rem;
}
